{
  "server_ip": "your.server.ip",
  "update_interval": 30,
  "category_order": ["Drift", "Touge", "Track"],
  "category_emojis": {
    "Drift": "🏎️",
    "Touge": "⛰️",
    "Track": "🛤️"
  },
  "servers": [
    {
      "name": "Drift Server 1",
      "port": 8091,
      "category": "Drift"
    },
    {
      "name": "Drift Server 2",
      "port": 8092,
      "category": "Drift"
    },
    {
      "name": "Touge Server 1",
      "port": 8093,
      "category": "Touge"
    },
    {
      "name": "Track Server 1",
      "port": 8094,
      "category": "Track"
    }
  ]
}
